* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
/* layout */

header {
    background-color: lightblue;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    
    /* debug */
    border: 1px dashed black;
    min-height: 30px;
} 

.row {
    display: flex;
        
}

section {   
    padding: 30px 0;

}

main .container {
    height: 300px;
    
}

footer {
    background-color: lightgray;

    /* debug */
    min-height: 300px;
}



/* MAIN */
/* header */
.header-top {
    height: 60px;
    padding: 15px;
}

header .container {
    background-color: lightgoldenrodyellow;
}


.col-50 {
    width: 50%;
    text-align: center;
}

.col-25 {
    width: 25%;
}

.col-25-2 {
    text-align: right;
    width: 25%;
}

.header-bottom {
    background-color: blue;
    padding: 30px 0;
    
}

.header-bottom .container {
    background-color: pink;
    width: 80%;

    /* debug */
    height: 300px;
    width: 800px;
}

/* main */


.col-70 {
    width: 70%;
    background-color: cadetblue;
}

.col-30 {
    width: 30%;
    background-color: lightpink;
}

.main-2 {
    background-color: lightgray;
}

.main-2 .container .row {
    flex-direction: row;
}


/* footer */

